@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&family=Roboto+Mono&display=swap');
body{

    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Baloo Tammudu 2', cursive;
    font-family: 'Roboto Mono', monospace;
}

#form{

    padding: 15px;
    margin-left: auto;
    margin-right: auto;

}

select, button{

    padding: 8px;
    height: 40px;;
  

}

select{
    float: left;
    width:200px;
}
button{
margin-left: auto;
margin-right: auto;

    width: 100px;
}

.round{

    border-radius: 5px;
    padding: 0;
    margin: 0;

}
.btn{
    padding: 0;
    margin: 0;
}

.col-6, .col-6-sm{

    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;

}
